@import url(https://fonts.googleapis.com/css?family=Cormorant:400&display=swap);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "proximanova_light";
  font-display: swap;
  src: url("../fonts/proximanova_light.woff2") format("woff2"), url("../fonts/proximanova_light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "proximanova_regular";
  font-display: swap;
  src: url("../fonts/proximanova_regular.woff2") format("woff2"), url("../fonts/proximanova_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  font-size: 1.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  background: #726767;
  height: 100%;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.common-button {
  padding: 13px 28px;
  background: #AF9678;
  border-radius: 8px;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  -webkit-transition: top 0.7s ease 0s;
  -o-transition: top 0.7s ease 0s;
  transition: top 0.7s ease 0s;
}

.header._scroll-up._scroll {
  top: 0;
}

.header._scroll-up._scroll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(53, 53, 53, 0.74);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
}

.header._scroll-down._scroll {
  top: -123px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

.header__logo {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 2rem;
  line-height: 162.5%;
  color: #C0AD95;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 0.625rem;
  position: relative;
  z-index: 52;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-top: 0.875rem;
  position: relative;
  z-index: 2;
}

.header__info {
  margin-bottom: 0.625rem;
  position: relative;
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  text-align: center;
}

.menu__link {
  font-size: 1.5rem;
  line-height: 116.6666666667%;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-header {
  line-height: 116.6666666667%;
  color: #fff;
  white-space: nowrap;
  text-align: center;
}

.info-header__phone {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/

.header-fullscreen {
  position: relative;
}

.header-fullscreen .header-fullscreen-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-fullscreen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-fullscreen__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38.75rem;
          flex: 0 1 38.75rem;
  padding: 29.6vh 0px;
}

.content-fullscreen__box {
  position: relative;
  z-index: 2;
}

.content-fullscreen__title {
  font-family: "Cormorant";
  color: #fff;
  margin-bottom: 1.0625rem;
}

.content-fullscreen__subtitle {
  color: #fff;
  text-shadow: 3px 1px 6px rgba(186, 217, 0, 0.26);
  margin-bottom: 1.0625rem;
  line-height: 85%;
}

.discount__title {
  line-height: 108%;
  color: #fff;
  margin-bottom: 0.625rem;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.8125rem;
     -moz-column-gap: 0.8125rem;
          column-gap: 0.8125rem;
}

.item-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-timer__number {
  -webkit-box-shadow: inset 10px 10px 10px #CFC6BA;
          box-shadow: inset 10px 10px 10px #CFC6BA;
  line-height: 108%;
  color: #11100E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 44px;
  min-height: 40px;
  background-color: #fff;
}

.item-timer__name {
  line-height: 133%;
  color: #fff;
}

.phone-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.phone-form__input {
  padding: 12px 0px 12px 20px;
  background: #FBFBFB;
  border-radius: 8px;
  width: 82.2580645161%;
}

.phone-form__input:focus {
  outline: 1px solid transparent;
  -webkit-box-shadow: inset 10px 10px 10px #CFC6BA;
          box-shadow: inset 10px 10px 10px #CFC6BA;
}

.phone-form__input::-webkit-input-placeholder {
  color: rgba(7, 7, 7, 0.39);
}

.phone-form__input::-moz-placeholder {
  color: rgba(7, 7, 7, 0.39);
}

.phone-form__input:-ms-input-placeholder {
  color: rgba(7, 7, 7, 0.39);
}

.phone-form__input::-ms-input-placeholder {
  color: rgba(7, 7, 7, 0.39);
}

.phone-form__input::placeholder {
  color: rgba(7, 7, 7, 0.39);
}

._valid .phone-form__input {
  border: 1px solid #0BE922;
  color: rgba(7, 7, 7, 0.39);
}

._not-valid .phone-form__input {
  background: #FBE9E9;
  border: 1px solid #F86464;
  color: rgba(243, 59, 59, 0.39);
}

._not-valid .phone-form__input::-webkit-input-placeholder {
  color: rgba(243, 59, 59, 0.39);
}

._not-valid .phone-form__input::-moz-placeholder {
  color: rgba(243, 59, 59, 0.39);
}

._not-valid .phone-form__input:-ms-input-placeholder {
  color: rgba(243, 59, 59, 0.39);
}

._not-valid .phone-form__input::-ms-input-placeholder {
  color: rgba(243, 59, 59, 0.39);
}

._not-valid .phone-form__input::placeholder {
  color: rgba(243, 59, 59, 0.39);
}

.phone-form__button {
  position: relative;
}

.phone-form__button img {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 41px;
  height: 41px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loading 3s linear 0s infinite forwards;
          animation: loading 3s linear 0s infinite forwards;
}

@-webkit-keyframes loading {
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loading {
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.phone-form__button._load img {
  display: block;
}

.phone-form__button._load {
  color: transparent;
}

._valid .phone-form__button {
  background: #CFC6BA;
}

.block-side {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
  margin-right: 0.9375rem;
}

.block-side__top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 43.84vh;
          flex: 1 1 43.84vh;
  position: relative;
  margin-top: 7.6875rem;
}

.block-side__top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #fff;
  width: 2px;
  height: 100%;
}

.block-side__links {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.block-side__bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23.4375vh;
          flex: 1 1 23.4375vh;
  position: relative;
  margin-bottom: 2.75rem;
}

.block-side__bottom:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #fff;
  width: 2px;
  height: 100%;
}

.links-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.0625rem;
  padding: 2.125rem 0px;
}

.links-social__icon {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 75.375em) {
  .common-button {
    font-size: 1.625rem;
  }

  .common-button {
    line-height: 6.75%rem;
  }

  .header__body {
    padding-top: 2rem;
  }

  .header__body {
    padding-bottom: 2rem;
  }

  .info-header {
    font-size: 1.5rem;
  }

  .content-fullscreen__title {
    font-size: 4.375rem;
  }

  .content-fullscreen__subtitle {
    font-size: 2.0625rem;
  }

  .discount__title {
    font-size: 1.625rem;
  }

  .timer {
    margin-bottom: 1.75rem;
  }

  .item-timer__number {
    font-size: 1.625rem;
  }

  .item-timer__number {
    min-width: 2.75rem;
  }

  .item-timer__number {
    min-height: 2.5rem;
  }

  .item-timer__name {
    font-size: 1.3125rem;
  }

  .phone-form {
    row-gap: 1.75rem;
  }

  .phone-form__input {
    font-size: 1.625rem;
  }

  .phone-form__input {
    line-height: 6.75%rem;
  }
}

@media (max-width: 20em) {
  .common-button {
    font-size: 1.1875rem;
  }

  .common-button {
    line-height: 9.1875%rem;
  }

  .header__body {
    padding-top: 1.0625rem;
  }

  .header__body {
    padding-bottom: 0.9375rem;
  }

  .info-header {
    font-size: 1.1875rem;
  }

  .content-fullscreen__title {
    font-size: 2.4375rem;
  }

  .content-fullscreen__subtitle {
    font-size: 1.25rem;
  }

  .discount__title {
    font-size: 1.125rem;
  }

  .timer {
    margin-bottom: 1.3125rem;
  }

  .item-timer__number {
    font-size: 1.1875rem;
  }

  .item-timer__number {
    min-width: 1.875rem;
  }

  .item-timer__number {
    min-height: 1.875rem;
  }

  .item-timer__name {
    font-size: 0.9375rem;
  }

  .phone-form {
    row-gap: 1.4375rem;
  }

  .phone-form__input {
    font-size: 1.1875rem;
  }

  .phone-form__input {
    line-height: 9.1875%rem;
  }
}

@media (max-width: 61.99875em) {
  .header__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-bottom: 0rem;
  }

  .header__menu {
    margin-top: 0rem;
  }

  .header__info {
    margin-bottom: 0rem;
  }

  .menu__body {
    position: fixed;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.4s ease 0s;
    -o-transition: left 0.4s ease 0s;
    transition: left 0.4s ease 0s;
    padding-top: 6.25rem;
  }

  .menu-open .menu__body {
    padding-top: 6.25rem;
    top: 0;
    left: 0;
    background: rgba(53, 53, 53, 0.24);
    -webkit-backdrop-filter: blur(32px);
            backdrop-filter: blur(32px);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .content-fullscreen__body {
    padding: 21.6vh 0px 0px 0px;
  }

  .content-fullscreen__box {
    padding: 2rem 1.5rem 2rem 1rem;
    background: rgba(53, 53, 53, 0.24);
    -webkit-backdrop-filter: blur(32px);
            backdrop-filter: blur(32px);
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .no-webp .content-fullscreen__box::before{
    background: url("../img/main-fullscreen/sale-icon.png") no-repeat; }

  .content-fullscreen__box::before {
    content: "";
    position: absolute;
    top: -2.625rem;
    left: 0rem;
    width: 107px;
    height: 100px;
  }

  .content-fullscreen__additional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.9375rem 0px;
  }

  .block-side {
    display: none;
  }

  .links-social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0rem 0px;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .phone-form__input {
    width: 100%;
  }
}

@media (max-width: 26.56125rem) {
  .content-fullscreen__box {
    margin-right: -0.9375rem;
  }
}

@media (min-width: 20em) and (max-width: 75.375em) {
  .common-button {
    font-size: calc(1.1875rem + 0.4375 * (((100vw - 20rem)) / ((55.375))));
  }

  .common-button {
    line-height: calc(9.1875%rem + -2.4375% * (((100vw - 20rem)) / ((55.375))));
  }

  .header__body {
    padding-top: calc(1.0625rem + 0.9375 * (((100vw - 20rem)) / ((55.375))));
  }

  .header__body {
    padding-bottom: calc(0.9375rem + 1.0625 * (((100vw - 20rem)) / ((55.375))));
  }

  .info-header {
    font-size: calc(1.1875rem + 0.3125 * (((100vw - 20rem)) / ((55.375))));
  }

  .content-fullscreen__title {
    font-size: calc(2.4375rem + 1.9375 * (((100vw - 20rem)) / ((55.375))));
  }

  .content-fullscreen__subtitle {
    font-size: calc(1.25rem + 0.8125 * (((100vw - 20rem)) / ((55.375))));
  }

  .discount__title {
    font-size: calc(1.125rem + 0.5 * (((100vw - 20rem)) / ((55.375))));
  }

  .timer {
    margin-bottom: calc(1.3125rem + 0.4375 * (((100vw - 20rem)) / ((55.375))));
  }

  .item-timer__number {
    font-size: calc(1.1875rem + 0.4375 * (((100vw - 20rem)) / ((55.375))));
  }

  .item-timer__number {
    min-width: calc(1.875rem + 0.875 * (((100vw - 20rem)) / ((55.375))));
  }

  .item-timer__number {
    min-height: calc(1.875rem + 0.625 * (((100vw - 20rem)) / ((55.375))));
  }

  .item-timer__name {
    font-size: calc(0.9375rem + 0.375 * (((100vw - 20rem)) / ((55.375))));
  }

  .phone-form {
    row-gap: calc(1.4375rem + 0.3125 * (((100vw - 20rem)) / ((55.375))));
  }

  .phone-form__input {
    font-size: calc(1.1875rem + 0.4375 * (((100vw - 20rem)) / ((55.375))));
  }

  .phone-form__input {
    line-height: calc(9.1875%rem + -2.4375% * (((100vw - 20rem)) / ((55.375))));
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #C0AD95;
  }

  .info-header__phone:hover {
    color: #C0AD95;
  }

  .links-social__icon:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@media (max-width: 61.99875em){

  .webp .content-fullscreen__box::before{ background: url(../img/main-fullscreen/sale-icon.webp) no-repeat; }
}